.containerfluid{
    padding-right: 5%;
    padding-left: 9%;
    margin-top: 4%;
}
.addrssDiv{
    height: 150px; 
    padding:5%;
    border-radius: 20px;
    margin: 20px 10px 20px 10px;
    background-color: rgb(98, 194, 103);
}
 
.imagesResponsive{
    width: 99%;
    height: 150px;
}
.imagesDiv{ 
    background-color: rgb(114, 236, 122);
}
.imagesDiv1{
    margin: 5%;
}
p{
    color: #ffffff;
}
.orderSummery{
    font-size: 19px;
}
.btn, .btn-large {
    text-decoration: none;
    color: rgb(98, 194, 103);
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.heading{
    font-size: 25px;
    color: #fff;
}
.orderS{
    padding:5%;
    border-radius: 20px;
    margin: 20px 10px 20px 10px;
    background-color: rgb(98, 194, 103);
}
.checkoutButton{
    width: 100%;
    margin-top: 7%;
    color: rgb(114, 236, 122);
    background-color: #fff;
}

[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: 2px solid rgb(255, 255, 255);
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid rgb(255, 255, 255);;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ffffff;
}
.addressDisplay{
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 10px;
    height: 130px;
    border-radius: 20px;
    background-color: rgb(98, 194, 103);
}
input.productQuantity{
    width: 40px;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
.btn-small{
    background-color: rgb(27, 255, 42);
    margin-bottom: 10px;
}
.removeButton{
    background-color: rgb(255, 0, 0);
    margin-top: 55px;
    margin-left: 30px;
}