<div class="container">
  <div class="card">
    <div class="profile-card">
      <div class="profile-cover">
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="profile-avatar">
              <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/51zLZbEVSTL._SY355_.jpg" alt="Anis M" class="circle responsive-img"/></a>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="profileCss">
              <h1>BP Singh</h1>
              <h6>rs@gmail.com</h6>
              <h6>1234567890</h6>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="row">
              <div class="col s12 m12 l12 center-align" style="padding-top: 60px;">
                <a class="waves-effect waves-light btn center-align"><i class="material-icons left" style="color: chartreuse;">edit</i>Edit Profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
          <div class="col s12">
            <ul class="tabs fixed">
              <li class="tab col s3"><a href="#test1" class="active" >Profile</a></li>
              <li class="tab col s3"><a href="#test2">Address</a></li>
              <li class="tab col s3"><a href="#test3">Order</a></li>
              <li class="tab col s3"><a href="#test4">Cart</a></li>
            </ul>  
          </div>
          <!-- Prodile Tab -->
          <div id="test1" class="col s12">
            <div class="Tabdiv">
              <div class="row">
                <div class="col s4 m4 l4">
                  <p class="userDetail">Name :</p>
                  <p class="userDetail">Email :</p>
                  <p class="userDetail">Phone No. :</p> 
                  <p class="userDetail">Password :</p>
                </div>
                <div class="col s8 m8 l8">
                    <p class="userDetail">BP Singh</p>
                    <p class="userDetail">rs@gmail.com</p>
                    <p class="userDetail">1234567890</p>
                    <p class="userDetail">******</p>
                  </div>
              </div>
            </div>
          </div>
          <!-- Address tab -->
          <div id="test2" class="col s12">
              <div class="shipping row"> 
              <div class="col s12 m4 l4 ">
                  <strong>Shipping address </strong> <i class="material-icons">local_shipping</i>
              </div>
              <div class="col s12 m8 l8" style="padding-top: 15px;">
                  <span>Room No. 2 Dahisar (E),Mumbai 400068 </span>
              </div>
              </div>
              <div class="divider"></div>
            <div class="Tabdiv">
              <div class="userAddress"><strong>Address</strong></div>
              <div class="row">
                <div class="col s12 m6 l4 ">
                    <div class="addressCard">
                        <span><u><i class="medium material-icons addAddress">add_location</i></u></span> 
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="addressCard">
                        <span> Room No. 2, <br> RawalPada SN Duby Road,<br> Dahisar (E),Mumbai 400068</span>
                    </div>
                  </div>
                  <div class="col s12 m6 l4">
                      <div class="addressCard">
                          <span>Room No. 2, <br> RawalPada SN Duby Road,<br> Dahisar (E),Mumbai 400068 </span>
                      </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="addressCard">
                            <span>Room No. 2, <br> RawalPada SN Duby Road,<br> Dahisar (E),Mumbai 400068 </span>
                        </div>
                      </div>
              </div>
            </div>
          </div>
          <!-- Order Tab -->
          <div id="test3" class="col s12">
            <br>
              <div class="previousorder">
                  <span>Current Order</span>
                </div>
            <div class="Tabdiv">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="orderCard">
                             <div class="imgdiv">
                               <img src="https://www.keellssuper.com/ItemImages/Small/Pic915002.jpg" alt="" class="orderimages">
                             </div>
                             <div class="divider"></div>
                             <div class="orderProduct">
                                <span class="left">Beetroot</span>
                                <span class="right">Rs. 100/Kg</span>
                             </div>
                        </div>
                      </div>
                      <div class="col s12 m6 l4">
                          <div class="orderCard">
                              <div class="imgdiv">
                                <img src="https://www.wcrf-uk.org/sites/default/files/Carrots%20A-Z%20Veg8.jpg" alt="" class="orderimages">
                              </div>
                              <div class="divider"></div>
                              <div class="orderProduct">
                                 <span class="left">Carrots</span>
                                 <span class="right">Rs. 30/Kg</span>
                              </div>
                         </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="orderCard">
                                <div class="imgdiv">
                                  <img src="https://study.com/cimages/multimages/16/adobestock_34617669.jpeg" alt="" class="orderimages">
                                </div>
                                <div class="divider"></div>
                                <div class="orderProduct">
                                   <span class="left">Tomato</span>
                                   <span class="right">Rs. 50/Kg</span>
                                </div>
                           </div>
                          </div>
                  </div> 
            </div>
            <div class="previousorder">
              <span>Previous Order</span>
            </div>
            
            <div class="previousOrderItems">
              <ul>
                <li>
                  <div class="row">
                    <div class="col s4 m3 l3"><img src="https://study.com/cimages/multimages/16/adobestock_34617669.jpeg" alt="" class="previousorderimages"></div>
                    <div class="col s7 m9 l9 previousOrderItemName"><span>Tomato</span> 
                      <a class="btn right">Buy</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="previousOrderItems">
                <ul>
                  <li>
                    <div class="row">
                      <div class="col s4 m3 l3"><img src="https://www.wcrf-uk.org/sites/default/files/Carrots%20A-Z%20Veg8.jpg" alt="" class="previousorderimages"></div>
                      <div class="col s7 m9 l9 previousOrderItemName"><span>Carrots</span> 
                        <a class="btn right">Buy</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
          <!-- Cart -->
          <div id="test4" class="col s12">
            <br>
              <div class="previousorder">
                  <span><strong>Your Cart</strong></span>
                  <button class="right profileCartBuyButton" type="submit" name="action">Buy</button>
                  <span class="right" style="padding-right: 2%;"><strong>Total : Rs.180 /-</strong></span>
                </div>
           <div class="Tabdiv">
              <div class="row">
                  <div class="col s12 m6 l4">
                      <div class="orderCard">
                           <div class="imgdiv">
                             <img src="https://www.keellssuper.com/ItemImages/Small/Pic915002.jpg" alt="" class="orderimages">
                           </div>
                           <div class="divider"></div>
                           <div class="orderProduct">
                              <span class="left">Beetroot</span>
                              <span class="right">Rs. 100/Kg</span>
                           </div>
                      </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="orderCard">
                            <div class="imgdiv">
                              <img src="https://www.wcrf-uk.org/sites/default/files/Carrots%20A-Z%20Veg8.jpg" alt="" class="orderimages">
                            </div>
                            <div class="divider"></div>
                            <div class="orderProduct">
                               <span class="left">Carrots</span>
                               <span class="right">Rs. 30/Kg</span>
                            </div>
                       </div>
                      </div>
                      <div class="col s12 m6 l4">
                          <div class="orderCard">
                              <div class="imgdiv">
                                <img src="https://study.com/cimages/multimages/16/adobestock_34617669.jpeg" alt="" class="orderimages">
                              </div>
                              <div class="divider"></div>
                              <div class="orderProduct">
                                 <span class="left">Tomato</span>
                                 <span class="right">Rs. 50/Kg</span>
                              </div>
                         </div>
                        </div>
                </div> 
          </div>
        </div>
        </div>
    </div>

  </div>
</div>