<div class="container">
    <div class="fcontainer">
         <div class="flogo">
            <a href="#" class="brand-logo">Logo</a>
         </div>
         <div class="famount">
             <span class="left">Order Id : #123456789</span>
             <span class="right">Total Amount : INR 2,000.00</span>
         </div>
         <div class="row">
             <div class="col l4 ">
                <div class="collection">
                    <a href="#test1" class="collection-item tab">Credit Card</a>
                    <a href="#test2" class="collection-item tab active">Alvin</a>
                    <a href="#test3" class="collection-item tab">Alvin</a>
                    <a href="#test4" class="collection-item tab">Alvin</a>
                  </div>
             </div>
             <div class="col l8">
                 <div>
                    <div id="test1" class="col s12">Test 1</div>
                    <div id="test2" class="col s12">Test 2</div>
                    <div id="test3" class="col s12">Test 3</div>
                    <div id="test4" class="col s12">Test 4</div>
                 </div>
             </div>
         </div>
    </div>
</div>



