.containerfluid{
    padding-right: 5%;
    padding-left: 5%;
}

a {
  color: #ffffff; 
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#container {
    padding-left: 240px;
  }
  
  .content {
    padding-left: 10px;
    }
  
  @media only screen and (max-width : 992px) {
    #container {
      padding-left: 0px;
    }
  }

  #slide-out{
  margin-top:8%; 
}
.fffff{
    border-style: dotted;
    border-color: black;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #72ec7a;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}
 /* .btn-flat i {
  font-size: 1.7rem;
  line-height: inherit;
}
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 0; 
  padding-left: 25%;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
} */
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #72ec7a;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  transition: .2s;
}

[type="checkbox"]:checked+span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #72ec7a;
  border-bottom: 2px solid #72ec7a;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* 
.modal .modal-content {
  padding-top: 2px;
} */
.productPricepop{
  background-color: rgba(98, 194, 103, 1);
}
.collection {
  margin: .5rem 0 1rem 0;
  border: 1px solid rgba(98, 194, 103, 1);
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}